@import "tailwindcss";

.header__link {
  transition: all 0.5s;
}

.header__link:hover {
  color: #ff9846;
}

.container {
  background: #f2f2f2;
}

.sidebar__link {
  transition: all 0.5s;
}
.sidebar__link:hover {
  color: #ff9846;
}
